﻿@model DepotTracker.Models.RMA_Model

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RMA_Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUnitShipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUnitShipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDepotRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDepotRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDepotShipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDepotShipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUnitRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUnitRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
