﻿@model IEnumerable<DepotTracker.Models.RMA_Model>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateUnitShipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDepotRecieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDepotShipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateUnitRecieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateUnitShipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDepotRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDepotShipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateUnitRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UnitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitID })
        </td>
    </tr>
}

</table>
