﻿@model IEnumerable<DepotTracker.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RMA_model.UnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointOfContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointOfContactPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Custodian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustodianContactPhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RMA_model.UnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointOfContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointOfContactPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Custodian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustodianContactPhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
