﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Get your $^!* together</h1>
    <p class="lead">I am building this to sharpen my ASP MVC skills </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Going to start building with code first entity framework. So I just define my models (classes) and let ASP MVC scaffold out the rest for me. 
        </p>
        <br />
        <p>Create a Create a Unit, create equipment. Open up an RMA for the unit for their equipment. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lock it down</h2>
        <p>Once the app is built then I will have to secure it to make sure only people I want can use it. </p>
        <p><a class="btn btn-default" href="#">TBD &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fire it up</h2>
        <p>Lets see if this thing has legs. Lets see if I can build a thing in my spare time and beat a "professional" dev team to market</p>
        <p><a class="btn btn-default" href="#">TBD &raquo;</a></p>
    </div>
</div>